{% import '_includes/forms' as forms %}
{% set autosuggest = 'google-maps/_form/autosuggest' %}
{% set dropdown = 'google-maps/_form/select' %}

{# On page load, show correct geolocation settings pane #}
{% js 'updateGeolocationService()' %}

<h2>Google API Keys</h2>
<p>In order to use the various Google Maps APIs, you will need to create adequate access credentials.</p>
{% include autosuggest with {
    config: {
        label: "Google API Server Key"|t('google-maps'),
        instructions: "Used for address lookups"|t('google-maps'),
        name: 'googleApiServerKey',
    }
} %}
{% include autosuggest with {
    config: {
        label: "Google API Browser Key"|t('google-maps'),
        instructions: "Used for static & dynamic map rendering"|t('google-maps'),
        name: 'googleApiBrowserKey',
    }
} %}

<hr>

<h2>Visitor Geolocation</h2>
<p>Using a third-party geolocation service, it's possible to keep track of where your visitors are coming from.</p>
{% include dropdown with {
    attr: [
        'onchange="updateGeolocationService()"'
    ],
    config: {
        label: "Geolocation Service"|t('google-maps'),
        id: 'geolocation-service',
        name: 'geolocationService',
        instructions: "Select an external service to power the visitor geolocation."|t('google-maps'),
        value: settings.geolocationService ?? '',
        options: [
            { value: '',        label: 'None'|t('google-maps') },
            { value: 'ipstack', label: 'ipstack' },
            { value: 'maxmind', label: 'MaxMind' },
        ],
    }
} %}

<div id="ipstack" class="pane" style="display:none">
    <h2>ipstack Settings</h2>
    {% include autosuggest with {
        config: {
            label: "API Access Key"|t,
            name: 'ipstackApiAccessKey',
        }
    } %}
</div>

<div id="maxmind" class="pane" style="display:none">
    <h2>MaxMind Settings</h2>
    {% include dropdown with {
        config: {
            label: "GeoIP2 Service",
            id: 'maxmind-service',
            name: 'maxmindService',
            instructions: "Please specify which GeoIP2 Precision Web Service you have subscribed to."|t('google-maps'),
            value: settings.maxmindService ?? '',
            options: [
                { value: '',              label: '' },
                { value: 'country',       label: 'GeoIP2 Country' },
                { value: 'city',          label: 'GeoIP2 City' },
                { value: 'city_isp_org',  label: 'GeoIP2 City/ISP/Org' },
                { value: 'omni',          label: 'GeoIP2 Omni' },
            ],
        }
    } %}
    {% include autosuggest with {
        config: {
            label: "User ID"|t('google-maps'),
            name: 'maxmindUserId',
        }
    } %}
    {% include autosuggest with {
        config: {
            label: "License Key"|t('google-maps'),
            name: 'maxmindLicenseKey',
        }
    } %}
</div>
