// To accommodate the map toggle, adjust margin of "copy" div
.field {
  .copytextbtn {
    &.gm-toggle-both {margin-right: 94px;}
    &.gm-toggle-text {margin-right: 79px;}
    &.gm-toggle-icon {margin-right: 21px;}
  }
}

// Adjust subfield margins
.address-field {
  width: 101%;
  input {
    margin-right: 1%;
    margin-bottom: 2px;
  }
}

// Maps embedded in Address fields
.gm-map {
  height: 240px;
  width: 99%;
  margin-right: 1%;
  margin-top: 2px;
  text-align: center;
  background-color: #f3f7fc;
  border: 1px solid #d7dfe7;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  &> div {
    color: #606d7b;
    font-weight: bold;
    font-style: italic;
  }
}

// Highlight required subfields for validation
.errors .required {
  border: 1px solid #cf1124 !important;
}

// ========================================================================= //

// When nested within a Super Table field, adjust top & bottom margins
.superTableContainer {
  &.columnLayout,
  &.rowLayout {
    .address-field {
      margin-top: 27px;
      margin-bottom: 3px;
    }
  }
}
