<script>
    // Transfer PHP data to JavaScript via Twig
    const addressFieldSettingsConfig = {{ config|json_encode|raw }};
</script>

<div id="address-settings-container" class="address-settings-container"></div>
