<div id="address-settings-container" class="address-settings-container" data-config="{{ config|json_encode }}"></div>

<!-- Ensure it gets initialized! -->
<script>window.initAddressFieldSettings()</script>
