{% set data = {
    'address': {
        'street1' : null,
        'street2' : null,
        'city'    : null,
        'state'   : null,
        'zip'     : null,
        'country' : null,
    },
    'coords': {
        'lat'  : null,
        'lng'  : null,
        'zoom' : null,
    }
} %}

<script>

// Transfer PHP data to JavaScript via Twig
var settings = {{ field.settings|json_encode|raw }};
var data = {{ data|json_encode|raw }};
var icons = {{ icons|json_encode|raw }};

// Determine whether to show the map on initial load
settings.showMap = ('open' === settings.mapOnStart);

// Determine whether we're using CP Field Inspect
settings.usingCpFieldInspect = {{ usingCpFieldInspect ? 'true' : 'false' }};

</script>

<div id="address">
    <address-field
        :settings="settings"
        :data="data"
        :icons="icons"
    ></address-field>
</div>
