{# file.serverKey           : AIzaSyBh87GCM8PQKSGre408EtpK0Fpr2Y7vAmQ #}
{# file.browserKey          : AIzaSyBh87GCM8PQKSGre408EtpK0Fpr2Y7vAmQ #}
{# file.geolocationService  : ipstack #}
{# file.ipstackApiAccessKey : 7a7461cdcc19c69a10df9410be7837b1 #}
{# file.maxmindService      : city #}
{# file.maxmindUserId       : 94331 #}
{# file.maxmindLicenseKey   : HHCPYPmfa9aO #}

{# settings.serverKey           : AIzaSyBh87GCM8PQKSGre408EtpK0Fpr2Y7vAmQ #}
{# settings.browserKey          : AIzaSyBh87GCM8PQKSGre408EtpK0Fpr2Y7vAmQ #}
{# settings.geolocationService  : ipstack #}
{# settings.ipstackApiAccessKey : 7a7461cdcc19c69a10df9410be7837b1 #}
{# settings.maxmindService      : city #}
{# settings.maxmindUserId       : 94331 #}
{# settings.maxmindLicenseKey   : HHCPYPmfa9aO #}

<p>plugin settings go here</p>

<div>
    {{ file.browserKey }}
</div>
<div>
{#    {% dd(settings) %}#}
</div>

<ul style="margin-top:20px">
    <li>- Google API keys</li>
    <li>
        - Geolocation API keys
        <ul>
            <li>--- ipstack</li>
            <li>--- MaxMind</li>
        </ul>
    </li>
</ul>

<p>Use Vue to power Geolocation options?</p>

<p>Ditch the troubleshooting page(s) for now.</p>
