{% import '_includes/forms' as forms %}

{{ forms.selectField({
    label: "Show map on initial load?"|t('google-maps'),
    id: 'map-on-start',
    name: 'mapOnStart',
    instructions: "When the field is initially loaded, the map should be..."|t('google-maps'),
    value: settings.mapOnStart ?? 'close',
    options: [
        { value: 'open',  label: "Open"|t('google-maps') },
        { value: 'close', label: "Closed"|t('google-maps') },
    ],
}) }}

{{ forms.selectField({
    label: "Show map when address search is triggered?"|t('google-maps'),
    id: 'map-on-search',
    name: 'mapOnSearch',
    instructions: "When an address lookup is performed, the map should..."|t('google-maps'),
    value: settings.mapOnSearch ?? 'open',
    options: [
        { value: 'open',     label: "Open"|t('google-maps') },
        { value: 'close',    label: "Close"|t('google-maps') },
        { value: 'noChange', label: "No Change"|t('google-maps') },
    ],
}) }}

{{ forms.selectField({
    label: "Map Visibility Toggle"|t('google-maps'),
    id: 'visibility-toggle',
    name: 'visibilityToggle',
    instructions: "How should the map visibility toggle be displayed?"|t('google-maps'),
    value: settings.visibilityToggle ?? 'both',
    options: [
        { value: 'both',   label: "Text & Icon"|t('google-maps') },
        { value: 'text',   label: "Text Only"|t('google-maps') },
        { value: 'icon',   label: "Icon Only"|t('google-maps') },
        { value: 'hidden', label: "Hidden"|t('google-maps') },
    ],
}) }}

{{ forms.selectField({
    label: "Display Coordinates"|t('google-maps'),
    id: 'coordinates-mode',
    name: 'coordinatesMode',
    instructions: "How should the location coordinates be displayed?"|t('google-maps'),
    value: settings.coordinatesMode ?? 'readOnly',
    options: [
        { value: 'editable', label: "Editable"|t('google-maps') },
        { value: 'readOnly', label: "Read Only"|t('google-maps') },
        { value: 'hidden',   label: "Hidden"|t('google-maps') },
    ],
}) }}



{# 'coordinatesDefault': {
    'lat': 34.038136,
    'lng': -118.243996,
    'zoom': 11
} #}


<div style="height: 120px; text-align: center; background-color: #f3f7fc; margin-top: 4px; border: 1px solid #D7DFE7; border-radius: 3px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);">
    <div style="color: #606d7b; font-weight: bold; font-style: italic; margin: 51px auto 0;">Drag &amp; drop field arrangement (vertical only?)</div>
</div>
