{% set data = {
    'address': {
        'street1' : null,
        'street2' : null,
        'city'    : null,
        'state'   : null,
        'zip'     : null,
        'country' : null,
    },
    'coords': {
        'lat'  : null,
        'lng'  : null,
        'zoom' : null,
    }
} %}

<script>

    // Transfer PHP data to JavaScript via Twig
    var settings = {{ settings|json_encode|raw }};
    var data = {{ data|json_encode|raw }};
    var icons = {{ icons|json_encode|raw }};

</script>

<div id="address-settings" class="address-settings">
    <div class="address-settings-fields">
        {% include 'google-maps/address-settings/subfield-manager' %}
        {% include 'google-maps/address-settings/dropdown-fields' %}
    </div>
    <div class="address-settings-preview">
        {% include 'google-maps/address-settings/live-preview' %}
    </div>
</div>

{# If the library is loaded, initialize all Address field settings #}
{% js 'if (window.google) {initAddressFieldSettings();}' %}

{% css %}
.address-settings {
    display: flex;
    flex-direction: row;
}
.address-settings-fields {
    flex-direction: column;
    flex: 4;
    margin-right: 30px;
}
.address-settings-preview {
    flex-direction: column;
    flex: 5;
}

.mc-fieldtype-settings .address-settings {
    display: block;
}
.mc-fieldtype-settings .address-settings-fields {
    margin-right: auto;
    margin-bottom: 24px;
}
.mc-fieldtype-settings .address-settings-preview {

}
{% endcss %}
