{% set data = {
    'address': {
        'street1' : null,
        'street2' : null,
        'city'    : null,
        'state'   : null,
        'zip'     : null,
        'country' : null,
    },
    'coords': {
        'lat'  : null,
        'lng'  : null,
        'zoom' : null,
    }
} %}

<script>

    // Transfer PHP data to JavaScript via Twig
    var settings = {{ settings|json_encode|raw }};
    var data = {{ data|json_encode|raw }};
    var icons = {{ icons|json_encode|raw }};

    // Not using CP Field Inspect on the field settings page
    settings.usingCpFieldInspect = false;


    // window.initAddressFieldSettings = function () {
    //
    //     console.log('loading init via Twig');
    //
    //     // new Promise();
    //
    //     // Wait for Vue instance to load
    //
    //     // After it loads, do whatever else you want to do
    //
    //
    // }

</script>

<div id="address-settings" style="display: flex; flex-direction: row;">
    <div style="flex-direction: column; flex: 4; margin-right: 30px;">
        {% include 'google-maps/address-settings/subfield-manager' %}
        {% include 'google-maps/address-settings/dropdown-fields' %}
    </div>
    <div style="flex-direction: column; flex: 5;">
        {% include 'google-maps/address-settings/live-preview' %}
    </div>
</div>
