<div style="display: flex; flex-direction: row;">
    <div style="flex-direction: column; flex: 4; margin-right: 30px;">
        {% include 'google-maps/address-settings/config-fields' %}
    </div>
    <div style="flex-direction: column; flex: 5;">
        {% include 'google-maps/address-settings/live-preview' %}
    </div>
</div>


