<div class="field">
    <div class="heading">
        <label>Address Field Live Preview</label>
        <div class="instructions">
            <p>This is how the field will look when the content editor uses it...</p>
        </div>
    </div>
    <div>
        <address-field
            :settings="settings"
            :data="data"
            :icons="icons"
        ></address-field>
        <default-coords></default-coords>
    </div>
</div>

<div class="field">
    <div class="heading">

        <div class="instructions">
            <p style="color:#000"><strong>&#8593;&nbsp;</strong> You can <strong style="text-decoration:underline">use this preview field</strong> to set the default map starting position! <strong>&#8593;</strong></p>
            <ul>
                <li><strong>Search</strong> for a central starting location.</li>
                <li><strong>Drag &amp; drop</strong> the pin to set a more precise location.</li>
                <li><strong>Zoom</strong> in or out to a comfortable default viewing level.</li>
            </ul>
        </div>

        <hr>

        <label>Setting a Default Map Starting Position</label>
        <div class="instructions">
            <p>Each time you create a new element, this Address field will automatically position the map according to the <strong>coordinates</strong> and <strong>zoom level</strong> specified above. The default map positioning will remain until the user conducts an address lookup, or otherwise adjusts the map and/or marker position.</p>
            <p>Using the Live Preview field above, you can to set the <strong>default coordinates &amp; zoom level</strong>. Whatever position you save this map to will become the default map orientation for all new instances of this field.</p>
            <p>Only the <strong>latitude</strong>, <strong>longitude</strong>, and <strong>zoom</strong> will be used to orient the map when a new element is being created. No other data from the Live Preview field will prepopulate future instances of this field.</p>
        </div>

    </div>
</div>
