<div class="field">
    <div class="heading">
        <label>Address Field Live Preview</label>
        <div class="instructions">
            <p>This is how the field will look when the content editor uses it...</p>
        </div>
    </div>
    <div>
        <address-field
            :settings="settings"
            :data="data"
            :icons="icons"
        ></address-field>
    </div>
</div>

<p>&#8593;&nbsp; You can <strong style="text-decoration:underline">use this preview field</strong> to set the default map starting position! &#8593;</p>

<hr />

<div class="field">
    <div class="heading">
        <label>Setting a Default Map Starting Position</label>
        <div class="instructions">
            <p>Use the Live Preview field above to set the default coordinates &amp; zoom level...</p>
            <ul>
                <li><strong>Search</strong> for a central starting location.</li>
                <li><strong>Drag &amp; drop</strong> the pin to set a more precise location.</li>
                <li><strong>Zoom</strong> in or out to a comfortable default viewing level.</li>
            </ul>
            <p>Whatever position you save this map to will become the default map orientation for all new instances of this field. The <strong>latitude</strong>, <strong>longitude</strong>, and <strong>zoom</strong> will be used as the default positioning whenever a new element is created.</p>
        </div>
    </div>
</div>
