<div class="field">
    <div class="heading">
        <label>Preview</label>
        <div class="instructions">
            <p>This is how the field will look...</p>
        </div>
    </div>
    <div>
        <address-field
            :settings="settings"
            :data="data"
            :icons="icons"
        ></address-field>
        <default-coords
            namespaced-name="{{ 'coordinatesDefault'|namespaceInputName }}"
        ></default-coords>
    </div>
</div>

<div class="field">
    <div class="heading">

        <div class="instructions">
            <p style="color:#000"><strong>&#8593;&nbsp;</strong> Use this preview field to <strong>set the default map starting position</strong>. <strong>&#8593;</strong></p>
            <ul>
                <li><strong>Search</strong> for a central starting location.</li>
                <li><strong>Drag &amp; drop</strong> the pin to set a more precise location.</li>
                <li><strong>Zoom</strong> in or out to a comfortable default viewing level.</li>
            </ul>
        </div>

        <hr>

        <div class="field">
            <div class="heading settings-note">
                <label>Set the Default Map Starting Position</label>
                <div class="instructions">
                    <p>You can to set the <strong>default coordinates &amp; zoom level</strong> using the "Preview" field above. Whatever position you save this map to will become the default map orientation for all new instances of this field.</p>
                    <p>Only the <strong>latitude</strong>, <strong>longitude</strong>, and <strong>zoom</strong> will be used to orient the map when a new element is being created. No other data from the "Preview" field will prepopulate future instances of this field.</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% css %}
.settings-note {
    border-radius: 5px;
    border: 1px solid #cdd8e4;
    padding: 12px 14px;
}
.settings-note .instructions {
    margin-top:10px;
}
{% endcss %}
