<div class="field">
    <div class="heading">
        <label>Subfield Manager</label>
        <div class="instructions">
            <p>Rename, resize, rearrange, require, or disable each subfield...</p>
        </div>
    </div>
    <div>
        <subfield-manager
            :settings="settings"
        ></subfield-manager>
    </div>
</div>
