<div class="field">
    <div class="heading">
        <label>Subfield Manager</label>
        <div class="instructions">
            <p>Rename, resize, rearrange, or hide each subfield...</p>
{#            <p>Rename, resize, require, rearrange, or hide each subfield...</p>#}
        </div>
    </div>
    <div>
        <subfield-manager
            :settings="settings"
            namespaced-name="{{ 'subfieldConfig'|namespaceInputName }}"
        ></subfield-manager>
    </div>
</div>
