<h2>Server Key</h2>

{# Show results of server key test #}
{% if (results.success ?? false) %}
    {# Show success message #}
    <div class="pane">
        <p><span class="checkmark-icon"></span> Success, the server key is valid!</p>
    </div>
{% else %}
    {# Show error message #}
    <div class="readable">
        <blockquote class="note warning">
            <p>{{ results.error ?? 'An unknown error occurred.' }}</p>
        </blockquote>
    </div>
{% endif %}
